  <ul class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="/sports">Deportes</a></li>
    <li class="active">Crear</li>
  </ul>
  <%= render 'shared/flash.html.erb' %>
  <h2 class="title-panel"><%= @title_main %></h2>
    	<%= render 'form' %>